/** The following is code that I wrote. **/

/* See information in source files. https://www.pixelsurplus.com/freebies/nature-spirit-free-vintage-sans-serif-font */
/* Rounded and Cute */
@font-face {
    font-family: 'Nature Spirit';
    src: url(fonts/NatureSpiritRegular.otf) format('otf'),
         url(fonts/NatureSpiritRegular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Nature Spirit Rough';
    src: url(fonts/NatureSpiritRough.otf) format('otf'),
         url(fonts/NatureSpiritRough.ttf) format('truetype');
  }
  /* See information in source files. https://www.behance.net/gallery/28096233/Aquatico-Free-Typeface */
  /* Modern and Rounded */
  @font-face {
    font-family: 'Aquatico';
    src: url(fonts/Aquatico-Regular.otf) format('otf'),
         url(fonts/Aquatico-Regular.ttf) format('truetype');
  }
  /* See information in source files.  */
  /* Like a Signature */
  @font-face {
    font-family: 'Amorisa';
    src: url(fonts/Amorisa\ Free.ttf) format('truetype');
  }
  /* See information in source files.  */
  /* Thick and Sharpie Handwritten */
  @font-face {
    font-family: 'Austhind';
    src: url(fonts/Austhind.otf) format('otf'),
         url(fonts/Austhind.ttf) format('truetype');
  }
  /* See information in source files.  */
  /* Distinguished and Loopy, Numbers Messed Up */
  @font-face {
    font-family: 'Bataler';
    src: url(fonts/Bataler-Mzav.otf) format('otf'),
         url(fonts/Bataler-04eP.ttf) format('truetype');
  }
  /* See information in source files.  */
  /* Cute and Thick */
  @font-face {
    font-family: 'BesterKeefi';
    src: url(fonts/BesterKeefi-PersonalUse.otf) format('otf'),
         url(fonts/BesterKeefi-PersonalUse.ttf) format('truetype');
  }
  /* See information in source files.  */
  /* Graphitti-Like */
  @font-face {
    font-family: 'BeyondTheMountains';
    src: url(fonts/beyond_the_mountains.otf) format('otf'),
         url(fonts/beyond_the_mountains.ttf) format('truetype');
  }
  /* See information in source files.  */
  /* Thin, Small, Handwritten */
  @font-face {
    font-family: 'Routhem';
    src: url(fonts/Routhem\ -\ Regular.otf) format('otf'),
         url(fonts/Routhem\ -\ Regular.ttf) format('truetype');
  }
  .pageHeader {
    font-family: 'Nature Spirit', monospace;
    /*color: rgba(0, 0, 0, .75);*/
    color: black;
    text-align: center;
    padding-top: 10px;
    text-transform: capitalize;
  }
  div.masonry {
    margin-left: 120px;
    margin-right: 120px;
    border-top: 3px double rgba(0, 0, 0, 0.05);
    padding-top: 30px;
  }
  .navbar, .footer {
    height: 45px;
    /*background-color: rgb(228, 228, 228);*/
    background-color: black;
    font-family: 'Aquatico', monospace;
  }
  .navbar h5 {
    font-family: 'Nature Spirit', monospace;
    float: left;
    color: white;
    padding-top: 10px;
    padding-left: 30px;
    letter-spacing: 1.7;
  }
  .footer {
    text-align: center;
    color: white;
    padding-top: 15px;
    font-size: 10px;
  }
  div.details {
    border-top: 3px double rgba(0, 0, 0, 0.05);
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
    font-family: 'Nature Spirit', monospace;
    letter-spacing: 1.7;
    padding-top: 10px;
    padding-bottom: 5px;
    color: grey;
  }
  div.details2 {
      font-family: 'Routhem', monospace, sans-serif;
      line-height: 1;
      text-align: center;
  }
  h5.logo {
    font-family: 'Nature Spirit', monospace;
    letter-spacing: 1.7;
    float: right;
    padding-right: 30px;
  }
  .hikelisttext {
    text-align: center;
    color: black;
    font-family: 'Nature Spirit', monospace;
    font-size: 13px;
    letter-spacing: 1.7;
  }
  
/* CSS That Controls Page Elements */

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, details2, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  .navbar h5 , .footer {
    padding-top: 16px;
  }
  .pageheader {
    margin: 0 0 0;
    line-height: 1.3;
    font-size: 5em;
    letter-spacing: 4;
    color: black;
    font-weight: bolder;
    font-family: 'Routhem', monospace, sans-serif;
  }
  .white {
    color: white;
    padding-top: 10%;
  }
  .footer {
    margin-top: 70px;
    height: 15px;
    padding-bottom: 13px;
  }

.hero {
  height: 50%;
  /*background-color: rgba(97, 179, 97, 0.05);*/
  background-image: url("photography/36\ -\ Dalles\ Mountain\ Car\,\ Rowena\ Crest\,\ Lower\ Falls\ Creek\ Trail\ /IMG_8432.JPG");
  /* 9815 mt si, */
  background-position-x: 0em;
  background-position-y: 0em;
  background-size: cover;
}

/** Pagination https://www.w3schools.com/Css/tryit.asp?filename=trycss_ex_pagination_transition**/

.pagination {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: -25px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: black;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.center {
  text-align: center;
}

.inactive {
  color: grey !important; 
}

.pagination a:hover:not(.active), .inactive {
  background-color: white; 
}